In [3]:
x,y = 10,20
option = input("enter your choice option")
match option:
  case'+':
    print("sum of value",x+y)

  case'-':
    print("substraction of value",x-y)

  case'*':
    print("multiplication of value", x*y)

  case'/':
    print("division of value",x/y)

  case'%':
    print("modulus of value",x%y)

  case'_':
    print("invalied operator")

enter your choice option+
sum of value 30

In [4]:
x,y = 10,20
option = input("enter your choice option")
match option:
  case'+':
    print("sum of value",x+y)

  case'-':
    print("substraction of value",x-y)

  case'*':
    print("multiplication of value", x*y)

  case'/':
    print("division of value",x/y)

  case'%':
    print("modulus of value",x%y)

  case'_':
    print("invalied operator")

enter your choice option-
substraction of value -10

In [5]:
x,y = 10,20
option = input("enter your choice option")
match option:
  case'+':
    print("sum of value",x+y)

  case'-':
    print("substraction of value",x-y)

  case'*':
    print("multiplication of value", x*y)

  case'/':
    print("division of value",x/y)

  case'%':
    print("modulus of value",x%y)

  case'_':
    print("invalied operator")

enter your choice option/
division of value 0.5

In [6]:
x,y = 10,20
option = input("enter your choice option")
match option:
  case'+':
    print("sum of value",x+y)

  case'-':
    print("substraction of value",x-y)

  case'*':
    print("multiplication of value", x*y)

  case'/':
    print("division of value",x/y)

  case'%':
    print("modulus of value",x%y)

  case'_':
    print("invalied operator")

enter your choice option*
multiplication of value 200

In [7]:
x,y = 10,20
option = input("enter your choice option")
match option:
  case'+':
    print("sum of value",x+y)

  case'-':
    print("substraction of value",x-y)

  case'*':
    print("multiplication of value", x*y)

  case'/':
    print("division of value",x/y)

  case'%':
    print("modulus of value",x%y)

  case'_':
    print("invalied operator")

enter your choice option%
modulus of value 10

enter the day value:5
friday

In [18]:
day = input("enter the day value:")
match day :
  case'1':
    print("monday")
  case'2':
    print("tuesday")
  case'3':
    print("wednesday")
  case'4':
    print("thirsday")
  case'5':
    print("friday")
  case'6':
    print("saturday")
  case'7':
    print("sunday")
  case'_':
    print("holiday")

enter the day value:5
friday

In [20]:
day = input("enter the day value:")
match day :
  case'1':
    print("monday")
  case'2':
    print("tuesday")
  case'3':
    print("wednesday")
  case'4':
    print("thirsday")
  case'5':
    print("friday")
  case'6':
    print("saturday")
  case'7':
    print("sunday")
  case'_':
    print("holiday")

enter the day value:_
holiday

In [22]:
month = input("enter the month value:")
match month :
  case'1':
    print("JAN")
  case'2':
    print("FEB")
  case'3':
    print("MAR")
  case'4':
    print("APR")
  case'5':
    print("MAY")
  case'6':
    print("JUN")
  case'7':
    print("JUL")
  case'8':
    print("AUG")
  case'9':
    print("SEP")
  case'10':
    print("OCT")
  case'11':
    print("NOV")
  case'12':
    print("DEC")

enter the month value:9
SEP

In [25]:
i = 1
while i <= 60:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [28]:
i = 1
while i <= 60:
  print(i, end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [30]:
from re import I
i = 1
add = 0
while i <= 10:
  add = add + i
  i = i + 1
print("sum of N natural number is :",add)

sum of N natural number is : 55

In [33]:
num = 5
i = 1
while i<= 10:
  print("5 *",i,"=",num*i)
  i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [35]:
num = 153
rem = 0
sum = 0
temp = num

while num>0:
  rem = num % 10
  sum = sum + rem * 3
  num = num // 10
if temp == sum :
  print("armstrong number")
else:
  print("not armstrong number")

not armstrong number

In [41]:
num = 12345
revers = 0
while num!=0:
  rem = num % 10
  revers = revers * 10 + rem
  num = num // 10
print("revers number is :",revers)

revers number is : 54321

In [42]:
#pollintron number
num = 123321
rem = 0
rev = 0
temp = num
while num>0:
  rem = num % 10
  rev = rev * 10 + rem
  num = num // 10
if temp == rev :
  print("pollinitron number")
else:
  print("not pollinitron number")

pollinitron number

In [45]:
# print even number between 1 to 100
i = 2
while i <= 100 :
  print(i, end=" ")
  i += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [47]:
# print odd number between 1 to 100
i = 1
while i <= 100 :
  print(i, end=" ")
  i += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [48]:
# fibonacci series
num,a,b, = 10,0,1
i = 0
while i<=num:
  print(a,end=" ")
  a,b = b,a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55

In [53]:
# prime numbers
num = int(input("enter a number value:"))
count = 0
i = 1
while i<=num:
  if num % i == 0:
    count +=1
  i+=1
if count == 2:
  print("prime numbers")

enter a number value:7
prime numbers

In [54]:
# revers numbers
num = 10
i = 0
while num >= i:
  print(num,end=" ")
  num-=1

10 9 8 7 6 5 4 3 2 1 0

In [55]:
# multiplication of numbers
i = 1
while i <= 1280:
  print(i,end=" ")
  i *= 2

1 2 4 8 16 32 64 128 256 512 1024

In [57]:
colours = ['blue','red','pink','black']
print(type(colours))
for i in colours:
  print(i)

<class 'list'>
blue
red
pink
black

In [60]:
# while loop
#print N natural numbers
i = 1
num = 10
while i <= num:
  print(i, end=" ")
  i = i + 1
print("\n") # Add a newline for better separation of outputs
for i in range(10):
  print(i)

1 2 3 4 5 6 7 8 9 10

0
1
2
3
4
5
6
7
8
9

In [64]:
num = 4
for i in range (1,11):
  print(num,"*",i,"=",num*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [65]:
for i in range (2,10,2):
  print(i,end= " ")

2 4 6 8

In [67]:
fact = 1
for i in range (1,6):
  fact *= i
  print(fact)

1
2
6
24
120

In [73]:
sentence = "KLE BK BCA college in chikodi"
count = 0
for ch in sentence:
  if ch in "aeiou":
    count += 1
print("total vovels is :",count)

total vovels is : 7