In [6]:
ex = ["Laptop", 390000, "Window", "Lenovo", "Bengaluru", "Laptop", 39000, "MAC", "Lenovo","Chikodi"]
print(ex.count("Lenovo"))

#compile time program
a = 10
b = 20
print(a + b)

#Run time program
x = int(input("enter x value"))
y = int(input("enter y value"))
print(x + y)

#Addition of 10 & 20 value is = 30
print("Addition of",x, "and", y, "value is =", x+ y)

2
30
enter x value46
enter y value89
135
Addition of 46 and 89 value is = 135

In [11]:
first = float(input("enter first value :"))
second = float(input("enter second value :"))
print(first +second)

enter first value :10
enter second value :5
15.0

In [13]:
first_name = input("enter first name :")
second_name =input("enter second name :")
print(first_name+second_name)

enter first name :sanyogita
enter second name :shedbale
sanyogita shedbale

In [16]:
i = int(input("enter the i value :"))
j = int(input("enter the j value :"))
print(i*j)

enter the i value :34
enter the j value :56
1904

In [17]:
x = 100
y = 90
print(f'addition of {x} and {y} value is = {x+y}')

addition of 100 and 90 value is = 190

In [30]:
# Hi, Good morning my name is sanyogita, i have completed BCA in the year of 2022 currently i'm working in KLE BK BCA college chikodi 584128
name = "sanyogita"
course = "BCA"
year = 2022
department = "BCA"
pincode = 584128
print(f'hi,good morning my name is {name}, i have complited {course}, in kle bk {department} college chikodi {pincode}')

hi,good morning my name is sanyogita, i have complited BCA, in kle bk BCA college chikodi 584128

In [34]:
num1 = int(input("enter num1 value :"))
num2 = int(input("enter num2 value :"))


print("addition of two numbers is :",num1+num2)


print("substraction of two numbers is :",num1-num2)


print("multiplication of two numbers is :",num1*num2)


print("division of two numbers is :",num1/num2)


print("floor division of two numbers is :",num1//num2)


print("modulus of two numbers is :",num1%num2)


print("exponent of two numbers is :",num1**num2)

enter num1 value :30
enter num2 value :08
addition of two numbers is : 38
substraction of two numbers is : 22
multiplication of two numbers is : 240
division of two numbers is : 3.75
floor division of two numbers is : 3
modulus of two numbers is : 6
exponent of two numbers is : 656100000000

In [36]:
a = 30
b = 40
print(a>b)
print(a==b)
print(a==b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
False
False
True
False
True
True

In [42]:
a = 20
b =  35
c = 13
d = 10
print(a==b and c<d)
print(13!=b and d<c)
print(b>a and d<c)
print(20!=a and c==b)
print(a<b or a==c)
print(a==b and c<d)
print(not(a<b)and 100<200)
print(not(a==10))
print(35!=d or(not(20==a)))
print(not(c<=b and(not(a<=c))))

False
True
True
False
True
False
False
True
True
False

In [56]:
x = 10
print(x)
x-=2
print(x)

x*=5
print(x)


x**2
print(x)

x+=9
print(x)

x%=4
print(x)

10
8
40
40
49
1

In [58]:
x//3
print(x)

x/3
print(x)

1
1